<%# locals: (talk:, video_provider:, video_id:, is_watched: false) %>

<div data-video-player-target="playerWrapper" class="w-full max-w-full">
  <div class="picture-in-picture-container w-full max-w-full" style="view-transition-name: <%= dom_id(talk, :image) %>">
    <video id="player" class="rounded-xl w-full" data-video-player-target="player" src="<%= talk.provider_url %>"></video>
  </div>
</div>
