---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rubyevents/rubyevents/contributors?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67b2c3aed694f935561bffabf51c17da26dd6c53f513b0439fd6d8528a2c8b8b"
      Last-Modified:
      - Wed, 29 Oct 2025 11:10:14 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, audit_log, gist, notifications, project, read:gpg_key, read:org,
        read:packages, read:public_key, read:ssh_signing_key, read:user, repo, user:email,
        workflow, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1761764196'
      X-Ratelimit-Used:
      - '25'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"marcoroth","id":6411752,"node_id":"MDQ6VXNlcjY0MTE3NTI=","avatar_url":"https://avatars.githubusercontent.com/u/6411752?v=4","gravatar_id":"","url":"https://api.github.com/users/marcoroth","html_url":"https://github.com/marcoroth","followers_url":"https://api.github.com/users/marcoroth/followers","following_url":"https://api.github.com/users/marcoroth/following{/other_user}","gists_url":"https://api.github.com/users/marcoroth/gists{/gist_id}","starred_url":"https://api.github.com/users/marcoroth/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/marcoroth/subscriptions","organizations_url":"https://api.github.com/users/marcoroth/orgs","repos_url":"https://api.github.com/users/marcoroth/repos","events_url":"https://api.github.com/users/marcoroth/events{/privacy}","received_events_url":"https://api.github.com/users/marcoroth/received_events","type":"User","user_view_type":"public","site_admin":false,"contributions":1064},{"login":"adrienpoly","id":7847244,"node_id":"MDQ6VXNlcjc4NDcyNDQ=","avatar_url":"https://avatars.githubusercontent.com/u/7847244?v=4","gravatar_id":"","url":"https://api.github.com/users/adrienpoly","html_url":"https://github.com/adrienpoly","followers_url":"https://api.github.com/users/adrienpoly/followers","following_url":"https://api.github.com/users/adrienpoly/following{/other_user}","gists_url":"https://api.github.com/users/adrienpoly/gists{/gist_id}","starred_url":"https://api.githu[...]
- request:
    method: get
    uri: https://api.github.com/repos/rubyevents/rubyevents/contributors?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"82cd2fbfe174f5e5c0a4e33fff32e6e4f972ac810d0a14733250bc46ea148063"'
      Last-Modified:
      - Wed, 29 Oct 2025 11:10:14 GMT
      X-Oauth-Scopes:
      - admin:repo_hook, audit_log, gist, notifications, project, read:gpg_key, read:org,
        read:packages, read:public_key, read:ssh_signing_key, read:user, repo, user:email,
        workflow, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/654539568/contributors?page=1&per_page=100>;
        rel="prev", <https://api.github.com/repositories/654539568/contributors?page=1&per_page=100>;
        rel="last", <https://api.github.com/repositories/654539568/contributors?page=1&per_page=100>;
        rel="first"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1761764196'
      X-Ratelimit-Used:
      - '26'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 29 Oct 2025 18:19:42 GMT
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"{ user0: user(login: \"marcoroth\") { login name avatarUrl
        url }\nuser1: user(login: \"adrienpoly\") { login name avatarUrl url }\nuser2:
        user(login: \"justinallenmarsh\") { login name avatarUrl url }\nuser3: user(login:
        \"h-lame\") { login name avatarUrl url }\nuser4: user(login: \"leonvogt\")
        { login name avatarUrl url }\nuser5: user(login: \"hschne\") { login name
        avatarUrl url }\nuser6: user(login: \"kaspth\") { login name avatarUrl url
        }\nuse[...]
