GEOLOCATE_API_KEY=YOUR_GEOLOCATE_API # optional, to load geolocation
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID # useful for github login but the app can run without it using the developer OAuth login
MAPBOX_ACCESS_TOKEN=YOUR_MAPBOX_ACCESS_TOKEN # optional, for map views in Avo admin
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET # useful for github login but the app can run without it using the developer OAuth login
KAMAL_RAILS_MASTER_KEY=YOUR_RAILS_MASTER_KEY # required to deploy the app with Kamal
KAMAL_REGISTRY_PASSWORD=YOUR_KAMAL_REGISTRY_PASSWORD # required to deploy the app with Kamal
OPENAI_ACCESS_TOKEN=YOUR_OPENAI_ACCESS_TOKEN # useful for talk enhancement feature but the app can run without it
OPENAI_ORGANIZATION_ID=YOUR_OPENAI_ORGANIZATION_ID # useful for talk enhancement feature but the app can run without it
RUBYVIDEO_GITHUB_TOKEN=YOUR_GITHUB_TOKEN # useful for the profile enhancement feature but the app can run without it
SKETCH_FILE=./RubyEvents.sketch # path to the sketch file used for extracting the event assets
SKETCH_STAMPS_FILE=./RubyEvents_Stamps.sketch # path to the sketch file used for extracting stamps
TYPESENSE_HOST=localhost # optional, defaults to localhost
TYPESENSE_PORT=8108 # optional, defaults to 8108
TYPESENSE_PROTOCOL=http # optional, defaults to http
TYPESENSE_API_KEY=xyz # optional, defaults to xyz for development
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY # useful for scraping youtube videos but the app can run without it
