<%= render layout: "shared/library_layout" do %>
  <div class="flex justify-between items-center">
    <h1 class="title text-primary"><%= title @watch_list.name %></h1>
  </div>

  <%= turbo_frame_tag "watch_list_talks", target: "_top", src: watch_list_path(@watch_list) do %>
    <%= render partial: "watch_lists/watch_list", locals: {watch_list: @watch_list, user_watched_talks: user_watched_talks} %>
  <% end %>
<% end %>
