<div class="flex-1 flex flex-col items-center justify-center pb-12">
  <div class="mb-8">
    <svg width="120" height="120" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 25 L16 10 L64 10 L78 25 L40 70 Z" fill="white" />
    </svg>
  </div>

  <p class="text-red-300 text-5xl">RubyEvents.org</p>
  <h1 class="text-10xl font-black text-white mt-4"><%= year %></h1>
  <p class="text-7xl font-bold text-red-200 mt-2">Wrapped</p>
</div>

<div class="w-full bg-white/5 py-4 flex items-center justify-center gap-3">
  <%= image_tag "logo.png", class: "w-8 h-8", alt: "RubyEvents.org" %>
  <span class="text-white font-bold text-xl">RubyEvents.org</span>
  <span class="text-red-300/80 text-lg">On a mission to index all Ruby events</span>
</div>
