<%# coding: utf-8 %>---
title: "RubyEvents.org <%= @month %> <%= @year %> Newsletter"
slug: <%= @month.downcase %>-<%= @year %>-newsletter
date: <%= @newsletter_date %>
author: chaelcodes
published: true
excerpt: |-
  TODO - excerpt
tags:
  - newsletter
  - <%= @month.downcase %>
  - <%= @year %>
featured_image:
---

TODO - excerpt

## Open CFPs

<%- @cfps.each do |cfp| -%>
🎤 [<%= "#{cfp.event.name.gsub(/ #{@year}/, "")}(#{cfp.event.formatted_dates} in #{cfp.event.location})"%>](<%= Router.event_cfp_index_path(cfp.event) %>) - [CFP](<%= cfp.link %>) closes <%= cfp.formatted_close_date.gsub(/, #{@year}/, "") %>.
<%- end -%>

> None of these feel quite right? Check out our list of [meetup cfps](https://www.rubyevents.org/cfp?kind=meetup)! Many are open year round and always looking for new talks.

## <%= @month %>'s events

<%- @this_month_events.each do |event| -%>
<%- next if event.static_metadata.cancelled? -%>
📆 [<%= event.name.gsub(/ #{@year}/, "") %>](<%= Router.event_path(event) %>)(<%= "#{event.formatted_dates} in #{event.location})"%> <% if event.talks.watchable.any? %>[Videos are available!](<%= Router.event_videos_path(event) %>)<% end %>
<%- end -%>

> Did you attend a Ruby event this month that isn't on the list? Let us know with an [issue](https://github.com/rubyevents/rubyevents/issues/new) or [PR](https://github.com/rubyevents/rubyevents/blob/main/CONTRIBUTING.md)!

## <%= @next_month %>'s events

<%- @next_month_events.reject { it.static_metadata.cancelled? }.each do |event| -%>
📆 [<%= event.name.gsub(/ #{@year}/, "")%>](<%= Router.event_path(event) %>)<%= "(#{event.formatted_dates} in #{event.location})"%><%if event.talks.count > 0%> 🎤 Check out the <%= event.talks.count %> scheduled [talks](<%= Router.event_talks_path(event) %>)!<% end %><% if event.tickets.url %> 🎟️[Tickets](<%= event.tickets.url %>) are available for $TICKETPRICE.<% end %>

<%- end -%>
<%- @next_month_events.filter { it.static_metadata.cancelled? }.each do |event| -%>
_If you were planning on attending [<%= event.name.gsub(/ #{@year}/, "")%>](<%= Router.event_path(event) %>), please be advised that it has been cancelled._
<%- end -%>

> Prepare more than a few months ahead by checking out our [calendar](https://www.rubyevents.org/events/<%= @year %>) or the full [list of events](https://www.rubyevents.org/events).

## Uploaded videos

<% @video_prs_update_event.each do |pr_number, updated_events| -%>
📺 PR [<%= pr_number %>](https://github.com/rubyevents/rubyevents/pull/<%= pr_number %>) added videos to
<%- updated_events.each do |event_path| -%>
  <%= "[#{event_path}](#{event_path})" %>
<%- end.to_sentence -%>
<%- end -%>

## Contributions

This month, we merged [<%= @pr_count %> PRs from <%= @contributors_count %> contributors!](https://github.com/rubyevents/rubyevents/pulls?q=is%3Apr+is%3Amerged+merged%3A<%= @github_date_range %>) <%= @content_pr_count %> PRs were [new event data and videos](https://github.com/rubyevents/rubyevents/pulls?q=is%3Apr+is%3Amerged+merged%3A<%= @github_date_range %>+label%3Acontent).

### Big Updates



### Thank You to All <%= @contributors_count %> Contributors ❤️

<%= @contributor_list %>

> Looking to join this list in <%= @next_month %>? Check out our [contributions page](https://www.rubyevents.org/contributions) or the [CONTRIBUTING.md](https://github.com/rubyevents/rubyevents/blob/main/CONTRIBUTING.md) on GitHub.
