---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=F75k4Oc6g9Q&key=AIzaSyCe3yTMydyYrEKSS0N0oh9w5y9Rct3g3QU&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "88klHrYSRu68u36oWFRl3F66ncc",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "nVjA-lie37ubVafV1rXv5Zc5_xA",
              "id": "F75k4Oc6g9Q",
              "statistics": {
                "viewCount": "15043",
                "likeCount": "403",
                "favoriteCount": "0",
                "commentCount": "28"
              }
            },
            {
              "kind": "youtube#video",
              "etag": "nVjA-lie37ubVafV1rXv5Zc5_xA",
              "id": "F75k4Oc6g9Q",
              "statistics": {
                "viewCount": "15043",
                "likeCount": "403",
                "favoriteCount": "0",
                "commentCount": "28"
              }
            },
            {
              "kind": "youtube#video",
              "etag": "nVjA-lie37ubVafV1rXv5Zc5_xA",
      [...]
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=F75k4Oc6g9Q&key=AIzaSyCe3yTMydyYrEKSS0N0oh9w5y9Rct3g3QU&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "JfvXWaVI9SMLPSUcYl6fP34cqzk",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "nVjA-lie37ubVafV1rXv5Zc5_xA",
              "id": "F75k4Oc6g9Q",
              "statistics": {
                "viewCount": "15043",
                "likeCount": "403",
                "favoriteCount": "0",
                "commentCount": "28"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Sat, 18 Oct 2025 17:01:48 GMT
recorded_with: VCR 6.3.1
