---
http_interactions:
- request:
    method: post
    uri: https://www.youtube.com/youtubei/v1/get_transcript
    body:
      encoding: UTF-8
      string: '{"context":{"client":{"clientName":"WEB","clientVersion":"2.20240313"}},"params":"CgtGNzVrNE9jNmc5URIMQ2dOaGMzSVNBbVZ1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "responseContext": {
            "visitorData": "CgtEZHUyelR4NEVUayi7rbW8BjIiCgJGUhIcEhgSFgsMDg8QERITFBUWFxgZGhscHR4fICEgHA%3D%3D",
            "serviceTrackingParams": [
              {
                "service": "CSI",
                "params": [
                  {
                    "key": "c",
                    "value": "WEB"
                  },
                  {
                    "key": "cver",
                    "value": "2.20240313"
                  },
                  {
                    "key": "yt_li",
                    "value": "0"
                  },
                  {
                    "key": "GetVideoTranscript_rid",
                    "value": "0x4a179f43b737be61"
                  }
                ]
              },
              {
                "service": "GFEEDBACK",
          [...]
