<%= turbo_frame_tag frame_id do %>
  <div
    data-controller="insights--word-cloud"
    data-insights--word-cloud-url-value="<%= url %>"
    class="h-96">
    <div class="flex items-center justify-center h-full">
      <span class="loading loading-spinner loading-lg"></span>
    </div>
  </div>
<% end %>
