<main class="container">
  <% events = Event.featurable.order(date: :desc) %>

  <div>
    <% events.each do |event| %>
      <%= render partial: "events/featured", locals: {event: event} %>
    <% end %>
  </div>
</main>
