<%# locals: () %>

<section class="flex flex-col gap-4 animate-pulse">
  <div class="flex items-end justify-between">
    <div>
      <div class="h-6 w-48 bg-base-300 rounded"></div>
      <div class="h-4 w-32 bg-base-300 rounded mt-2"></div>
    </div>
  </div>

  <div class="flex gap-4 overflow-hidden">
    <% 5.times do %>
      <div class="shrink-0 w-[280px] sm:w-[300px] lg:w-[320px]">
        <div class="aspect-video bg-base-300 rounded-lg"></div>
      </div>
    <% end %>
  </div>
</section>
