<div class="absolute left-1/2 -translate-x-1/2 bottom-full mb-2 w-80 opacity-0 invisible group-hover/card:opacity-100 group-hover/card:visible transition-opacity duration-150 z-50" data-hover-card-target="card" hidden>
  <%= turbo_frame_tag frame_id, src: hover_card_url, loading: "lazy", target: "_top" %>
</div>
