<div class="container">
  <h2>
    <%= fa("star", size: :sm, style: :solid, class: "fill-yellow-400 inline") %>
    Favorite Rubyists
  </h2>
  <div id="favorite_users" class="min-w-full grid sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-2">
    <%= render @favorite_users %>
  </div>
</div>
