@layer components {
  .banner-img .v-vlite {
    --vlite-controlsColor: #ffffff;
    --vlite-controlsOpacity: 1;
    --vlite-controlBarBackground: linear-gradient(0deg, #000 -50%, #fff);
  }

  .v-playbackRateSelect.v-controlButton {
    color: var(--vlite-controlsColor);
    text-align: center;
  }

  .v-loader {
    display: none !important;
  }

  .v-bigPlay,
  .v-overlay,
  .v-poster {
    display: none !important;
  }

  .v-openInYouTube.v-controlButton svg {
    width: 65%;
    fill: var(--vlite-controlsColor);
  }

  /* Picture in picture styling */
  .picture-in-picture .picture-in-picture-container {
    @apply sm:fixed sm:bottom-4 sm:right-4 sm:z-10 sm:h-auto sm:w-full sm:max-w-sm sm:rounded-xl xl:max-w-lg;
    .v-video {
      @apply rounded-xl;
    }
  }

  .theater-mode {
    @apply lg:!max-w-none lg:!px-0;
  }

  .theater-available {
    --theater-enabled: 0;

    @apply lg:[--theater-enabled:1];
  }

  .theater-mode .theater-contained {
    @apply lg:mx-auto lg:w-full lg:max-w-screen-2xl lg:px-4;
  }

  .theater-mode .theater-main {
    @apply lg:overflow-visible;
  }

  .theater-mode .theater-sidebar {
    @apply lg:!hidden;
  }

  .theater-mode .theater-player {
    @apply lg:w-full lg:bg-black;
  }

  .theater-mode .theater-player .theater-stage {
    @apply lg:mx-auto lg:h-auto lg:max-h-[calc(100vh-5rem)] lg:w-auto lg:max-w-full lg:rounded-none lg:outline-none;
  }
}
