<h2 id="tooltips" class="text-2xl font-bold group">
  <a href="#tooltips" class="opacity-0 group-hover:opacity-100 no-underline mr-1 text-gray-400" aria-label="Link to Tooltips">#</a>
  Tooltips
</h2>
<div class="flex flex-col items-start justify-start gap-8 py-8">

  <%= ui_tooltip "basic text in the tooltip" do %>
    <div>text with tooltip</div>
  <% end %>
</div>
